/*********************
  05 CARD START
**********************/
.card{
    background-color: $white-color;
    box-shadow: none;
    border-radius: 5px;
    border: none ;
    margin-block-end: 1.6em;
    box-shadow: 0 2px 5px rgba($theme-default,0.05);
    transition: all 0.5s ease;   
    .card-header{
      background-color: transparent;
      padding: 25px;
      padding-block-end: 0 !important;
      border: none;
      display: flex;
      justify-content: space-between;
      h4{                                 
          color: var(--theme-default) ;
          text-transform: capitalize;
          font-size: 20px;
      }
    }
    .card-body{
        padding:25px;
    }   
}
/*********************
  CARD END
**********************/
