
/****************
 03  FORM START
*****************/
.form-control{
    border-color: $theme-border;
    font-size: 14px;
    text-transform: capitalize;
    padding: 10px 15px;
    color: $font-light;
    &:focus{
        box-shadow: none;
        border-color: $theme-border;
    }
    &::placeholder{
      color:$font-light;
    }
}
.group-form{
  margin-block-end: 20px; 
}
.form-label{
  text-transform: capitalize;
  font-weight: 500; 
}
.group-small{
  display: flex;
  align-items: center;
  >div{
    width: 100%;
    &:nth-child(n+2){
      margin-inline-start:15px;
    }
  }
}
select.form-control{
  position: relative;  
  appearance:auto;
}
.input-group-text{
    border-color: $theme-border;
    color: $font-light;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


/* custom chekbox  start*/
.custom-check-input {
  position: relative;
  width: 20px;
  height: 20px;
  margin-inline-end: 30px;
  .custom-input{
    display: none;
    &:checked {
      + {
        .custom-input-label {
          &:after {
            opacity: 1;
          }
        }
      }
    }    
  }
  .custom-input-label{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: $white-color;
    border:1px solid $theme-border;
    border-radius: 2px;
    cursor:pointer;
    &:after{
      position: absolute;
			content:'';	  
      height: 12px;
      width: 12px;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
		  background-color: var(--theme-default);
		  cursor:pointer;
		  opacity:0;
      border-radius: 2px;
    }
  }  
  .custom-input[type='radio']{
    ~ {
        .custom-input-label{
          border-radius: 50%;
          &:after{
            border-radius: 50%;
          }
        }
    }
  }  
}        
/* custom chekbox end */
/****************
  FORM END
*****************/