/******************
 10 THEME POPUP START
*****************/
.modal-content{
    border:none;
}
.theme-popup{
    .btn-close{
        position: absolute;
        top: 15px;
        right: 15px;
        z-index: 1;
    }
}
//*quick view popup*//
.cdxquick-popup{
    .img-wrap{
        img{
            width:100%;
        }
    }
    .product-detailright{       
        h2{
            font-size:24px;
        }
        .detail-group {
            h6{
                font-size: 16px;
            }
            .product-price {
                li{
                    font-size:20px;
                }
            }
        }
    }
}

//*newslatter popup*//
.newslatter-popup{   
    .newslatter-contain{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        text-align: center;
        img{
            width: 180px;
            margin-bottom: 20px;
        }
        h2{
            text-transform: capitalize;
            margin-bottom: 5px;
        }
        p{
            font-size: 16px;
            margin-bottom: 15px;
            color: $font-light;
        }
        .form-control{
            margin-bottom:15px;
        }
        .chek-group{
            margin-bottom: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            .custom-check-input{
                width: auto;
            }
        }
        .btn{
            padding:10px 40px;
        }
    }
}
/******************
 11 THEME POPUP END
 *****************/