/****************
 12 INNER PAGES START
*****************/

/*blog*/
.blog-wrapper{    
    overflow: hidden;
    background-color: $white-color;
    border-radius: 5px;
    .imgwrapper{
        position: relative;
        overflow: hidden;
        img{
            transition: all 0.5s ease; 
            width:100%;
        }
        .hover-link{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($black-color,0.4);
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0;
            visibility: hidden;          
            transition: all 0.3s ease; 
            
            svg{
                color: $white-color;
                width:auto;
                height: 35px;
            }
        }
        .date-info{                                 
            position: absolute;
            top: 15px;
            left: 15px;
            background-color: var(--theme-default);
            color: $white-color;
            font-size: 12px;
            padding: 5px 10px;
            border-radius: 4px;       
            text-transform: capitalize;
        }
    }
    .detailwrapper{
        padding:20px;
        position: relative;
        h5{
            margin-block-end: 10px;
            text-transform: capitalize;
            color: $codex-font-color;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .blogsoc-list{
            margin-block-end: 10px;
        }
        p{
            font-size: 14px;
            color: $font-light;
        }
    }
    .blog-footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-block-start: 15px;
        .btn{
            text-transform: capitalize;
            font-size: 14px;
        }
        .date-info{                      
            text-transform: capitalize;                      
            font-weight: 500;
            color: $font-light;         
            font-size: 16px;
            i{
                margin-inline-end:10px;
            }             
        }
    }
    &:hover{
        .imgwrapper{
            img{
                transform: scale(1.1);
            }
            .hover-link{
                opacity: 1;
                visibility: visible;
            }
        }   
    }
}
.blogsoc-list{
    display: flex;
    align-items: center;
    li{
        a{
            display: flex;
            align-items: center;
            text-transform: capitalize;
            font-weight: 500;
            font-size: 14px;
            color: $font-light;
            svg{
                width: auto;
                height: 18px;
                margin-inline-end: 5px;
            }
            i{
                margin-right: 5px;
            }
        }
        &:nth-child(n+2){
            margin-inline-start: 15px;
        }
    }
}
.blogdetail-wrrapper {
    overflow:hidden;  
    .imgwrapper{
        position:relative;
        img{
            width:100%;
        }       
        .blog-iconlist{
            position: absolute;
            top: 20px;
            right: 20px;
            li{
                a{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 35px;
                    height: 35px;
                    background-color: rgba($white-color,0.1);
                    border-radius:5px;
                    svg{
                        width:auto;
                        height:18px;
                        color:$white-color;
                    }
                }
                display: inline-block;
                &:nth-child(n+2){
                    margin-inline-start:10px;
                }
            }
        }
    }
    .detailwrapper{
        padding:20px;
        position: relative;
        h4{
            font-size:22px;
            margin-block-end: 10px;
            text-transform: capitalize;
        }
        p{
            color: $font-light;
            margin-block-start: 15px;     
            font-size:14px;       
        }
    }
}
.blgcomment-list{
    >li {
        &:nth-child(n+2){
            margin-block-start: 30px;
            padding-block-start: 30px;
            border-top: 1px dashed $theme-border;
        }
    }
    li{
       display: block;
       .media{
            img{
                width: auto;
                height: 80px;
                margin-inline-end: 25px;
                border-radius: 5px;
            }
            .media-body{
                h5{
                    font-weight:500;
                    text-transform: capitalize;
                    margin-block-end: 5px;
                    .comment-time{
                        float: right;
                        font-size: 14px;
                        color: $font-light;
                        i{
                            margin-inline-end:10px;                      
                        }
                    }
                }
                .blogsoc-list {
                    margin-block-end: 10px;
                        li{
                            a{
                                font-size: 14px;
                                svg{
                                    height: 14px;
                                }
                            }
                        }
                }
                p{
                    color: $font-light;
                    font-size: 14px;
                }
                .commant-time{
                    font-weight:500;
                    color: $font-light;
                    svg{
                        width: auto;
                        height: 18px;
                        margin-inline-end:5px;
                    }
                }
                .btn{
                    padding:8px 10px;
                    text-transform: capitalize;
                    font-size: 14px;
                    line-height: 1;
                    margin-block-start:15px;
                    font-weight: 500;
                    i{
                        margin-inline-end: 7px;
                        font-size: 13px;
                    }
                }
            } 
        }
        &.reply-comment{
            padding-inline-start: 90px;
        }
    }
}

/*about us*/
.about-us{
    .img-wrap{
        border-radius:5px;
        height:100%;
        background-color: $white-color;
        img{
            width:100%;
        }
    }
    .about-row{
        overflow: hidden;
        border-radius:5px;
        >div{
            padding:0;
        }
    }
    .aboutus-contain{
        background-color: $white-color;
        padding: 30px;       
        height:100%;
        h3{
            margin-bottom: 10px;
        }
        p{
            font-size:16px;
            color:$font-light;
        }
        .btn{
            margin-top:15px;
        }
    }
}

/*cart*/
.cdxshopping-cart{     
    th{
      font-size: 16px;
      font-weight: 600;     
      border-bottom: none !important;
    }
    td{
      font-size: 16px;
      font-weight: 500;
      padding-block-start: 10px;
      padding-block-end: 10px;
      text-transform: capitalize;
    }
    .cart-tbl{
      th,td{
        vertical-align:middle;
        min-width: 180px;   
        border: 1px dashed $theme-border;
        text-align: center;    
        .pro-quantity{
          margin-inline-start:auto ;
          margin-inline-end: auto;
        }
      }      
      .product-imgwrap{
        img{
          width: 40px;
          height: auto;
        }
      }
    }
    .group-btn{
      .btn{
        &:nth-child(n+2){
          margin-inline-start:15px;
        }
      }
    }
    .cartbtn-group{
      display: flex;
      justify-content: space-between;
      margin-block-start: 20px;
    }
    .pro-quantity{
      .form-control{
        padding:7px 10px;
      }
      span{
        svg{
          width: auto;
          height: 20px;
        }
      }
    }
  }
  .chekout-tbl{
    tr{   
      &:first-child{
        td{
          padding-block-start:0;              
        }
      }     
      td,th{
        background-color: transparent;
        border-bottom: 1px dashed $theme-border !important;
        padding-inline-start:5px;
        padding-inline-end:5px;     
      }
      &:last-child{
        td{        
          border-bottom: none !important;               
        }
      }
      td{
        text-align:right;
      }
    }
  }

 /*checkout*/
 .checkouttab-list{
    margin-bottom:20px;
    li{       
        width: calc(33.33% - 15px);
        a{           
            display:block;
            background-color: $white-color;
            padding:30px 10px;
            color: $codex-font-color;
            text-align: center;
            i{
                font-size: 60px;
                color: $codex-font-color;
            }
            h6{
                color: $codex-font-color;
                text-transform: capitalize;
            }
        }
        .active{
            background-color: var(--theme-default);           
            color: $white-color;
            i{
                color: $white-color;
            }
            h6{
                color: $white-color;
            }
        }
        +li{
            margin-left:20px;
        }
    }
}   
.cdx-checkout{
    .checkout-action{
        .btn{
            +.btn{
                margin-left:10px;
            }
        }
    }
} 

/*compare*/
.compare-table{
    background-color: $white-color;
    .compare-product{
        text-align:center;
        padding: 10px;
        .img-wrap{
            max-height:300px;
            overflow:hidden;
            img{
                width:70%;
                height:auto;
                border-radius:5px;
            }
        }
        h6{
            font-size:16px;
            margin-top: 10px;
            text-transform: capitalize;
        }
    }   
    tr{
        td{
            border: 1px solid $theme-border;
            text-align: center;
            padding:20px 10px;
            .delate-pro{
                font-size:22px;
                color: var(--theme-default);
            }
            &.compare-title{
                background-color:$darkgray;
                font-size:16px;
                text-transform:uppercase;
                font-weight:600;
                padding:15px 10px;
            }
            .product-size{
                justify-content: center;
            }
        }
    }
}

/*order track*/
.track-order{
    .orderNumber{
      margin-bottom: 25px;
      font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (1920 - 320)));
    }     
    .trackstap-list {
      position: relative;
      background: $codex-body-color;
      height: 7px;      
      display: flex;
      margin-bottom: 80px;
      margin-top: 50px;
      .track-step {       
        flex-grow: 1;
        width: 25%;
        margin-top: -18px;
        text-align: center;
        position: relative;
        &::before {
          height: 7px;
          position: absolute;
          content: "";
          width: 100%;
          left: 0;
          top: 18px;
        }
        .icon {
          display: inline-flex;
          align-items:center;
          justify-content: center;
          width: 40px;
          height: 40px;        
          position: relative;
          border-radius: 100%;
          background: $codex-body-color;
          color:$codex-font-color;
          font-size: 16px;
        }    
        h6{
          font-size: 16px;
          display: block;
          margin-top: 7px;
        }
        &.active {
          h6{
            color: var(--theme-default);
          }
          &:before {
            background: var(--theme-default);
          }
          .icon {
            background: var(--theme-default);
            color: $white-color;
          }
          .text {
            font-weight: 400;
            color:$black-color;
          }
        }		
      }
      
    }  
    .track-servicesgrid{
      padding:20px;
      background-color: $codex-body-color;
    }
    .track-table{
      margin-top: 20px;
      margin-bottom: 20px;
      th{
        text-transform: uppercase;       
        background-color: $codex-body-color;
        border: 1px solid $theme-border;
        border-bottom: none;
      }
      td{
        vertical-align: middle;
        text-transform: capitalize;
        font-weight:600;
        border: 1px solid $theme-border;
        min-width: 170px;
        .img-wrap{
          img{
            width: 70px;
            height: auto;
          }
        }
        .update-order{
          font-size: 16px;
          a{
            color: $codex-font-color;
          }
          i{
            font-size:18px;
          }
        }
      }
    }
}

/*contact*/
.cdx-contact{
    .contact-lsit{
        display: flex;       
        li{
            display: inline-block;
            width: 100%;
            +li{
                margin-left:20px;
            }
        }
        .contact-box{
            background-color: $white-color;
            padding: 30px;
            text-align: center;
            height: 100%;
            .icon-wrap{                
                i{
                    font-size:50px;
                    color: var(--theme-default);
                }
            }
            h4{
                text-transform: capitalize;
            }
        }
    }
}
.contact-group{
    margin-top: 20px;
    padding: 25px;
    background-color: $white-color;
    textarea{
        height: 190px;
    }
    iframe{
        width:100%;
        height:350px;
    }
}

/*faq*/
.faq-searchwrap{
    overflow: hidden;
    .card-body{
        background-image: url("../images/pages/faq/1.jpg");
        background-size: cover;
        background-repeat: no-repeat;         
        background-position: center; 
        text-align: center;          
        border-radius: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        height:360px;
        z-index:1;
        &::before{
            content:'';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($black-color,0.5);
            z-index: -1;
        }
        h1{
            text-transform: capitalize;
            color: $white-color;
            margin-block-end: 25px;
        }
        .input-group{           
            margin-inline-start: auto;
            margin-inline-end: auto;
            .input-group-text{
                color: $white-color;
            }
        }
    }
}
.codex-accordion{   
    overflow: hidden;
    .cdx-collapse{
        padding:15px;
        padding-inline-end: 30px;
        display: block;       
        border-bottom: 1px solid $theme-border ;      
        border-top-left-radius: 5px;
        border-top-right-radius: 5px; 
        position: relative;
        color: $codex-font-color;
        font-size:16px;
        font-weight: 500;
        &:before{
            content:"\f106";
            font-family: $theme-awesome;
            position: absolute;            
            inset-block-start:10px;            
            inset-inline-end:15px;
            font-size: 24px;           
        }
        &.collapsed{
            &:before{
                content:"\f107";
            }
        }  
    }    
    .accordion-item{
        border: 1px solid $theme-border !important;
        border-radius: 5px;
        p{
            font-size:14px;
        }
        &:nth-child(n+2){
            margin-block-start: 20px;
        }         
    }
}


/*invoice*/
.cdx-invoice{
    .codex-brand{
        img{
            width: 190px;
            height: auto;
        }
        .codexdark-logo {
            display: none;
        }
    }
    .head-invoice{
        display: flex;
        align-items: center;
        justify-content: space-between;     
        background-color: rgba($theme-default,0.05);
        padding: 25px;     
        .contact-list{
            li{
                display: flex;
                align-items: center;
                font-size: 16px;
                font-weight: 500;
                .icon-wrap{
                    width: 32px;
                    height: 32px;
                    border-radius: 5px;
                    background-color: var(--theme-default);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-inline-end: 15px;
                    i{
                        color: $white-color;
                        font-size: 14px;
                    }
                }
                +li{
                    margin-block-start:10px;
                }
            }
        }
    }
    .invoice-user{
        margin-block-start: 20px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        .left-user{
            h5{
                text-transform: uppercase;
                color: var(--theme-default);
                margin-block-end: 10px;
            }
            .detail-list{
                li{
                    display: flex;
                    align-items: center;
                    font-size: 16px;
                    .icon-wrap{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-inline-end: 10px;
                    }                    
                }    
            }
        }
        .right-user{
            li{
                font-size: 16px;
                font-weight: 500;
                text-transform: capitalize;
                span{
                    color: $font-light;
                    margin-inline-start: 15px;
                }
            }
        }
    }
    .body-invoice{
        margin-block-start:25px;
        .table{
            tr{
                th{
                    background-color: var(--theme-default);
                    color: $white-color;
                    border: none;
                    font-size: 13px;
                    text-align: center;
                    text-transform:capitalize;
                }
                td{
                    text-transform: capitalize;                    
                    font-weight: 500;
                    text-align: center;
                    border: 1px solid $theme-border;
                }
            }
        }
    }
    .footer-invoice{
        margin-block-start: 20px;       
        width:30%;               
        margin-inline-start: auto;
        .table{
            td{
                text-transform: capitalize;
                font-weight: 500;
                border: 1px solid $theme-border;                    
                &:nth-child(2){
                    color: var(--theme-default);
                }
            }
            tr{
                &:last-child{
                    td{                                        
                        font-size: 16px;
                    }
                }
            }
        }       
    }
    .invoice-action{
        display: flex;
        justify-content: center;
        margin-block-start:20px;
        padding-block-start: 20px;
        border-top: 1px solid $theme-border;
        .btn{
            text-transform: capitalize;
        }
    }
}
.invoice {
	position: relative;
	background-color: $white-color;	
	padding:0 15px;	
	header {
		padding: 10px 0;
		padding-block-start: 0;
		margin-block-end: 20px;
		border-bottom: 1px solid $theme-border;
	}
	table {
		width: 100%;
		border-collapse: collapse;
		border-spacing: 0;
		margin-block-end: 20px;
		td {
			padding: 8px 15px;
			border: 1px solid $theme-border;
			font-size: 15px;
			h3 {
				margin: 0;
				font-weight: 400;
				color: var(--theme-default);
				text-decoration: none;
				font-size: 16px;
				a {
					margin: 0;
					font-weight: 400;
					color:var(--theme-default);
					text-decoration: none;
					font-size: 16px;
				}
			}
		}
		th {
			padding: 8px 15px;
			border: 1px solid $theme-border;			
			white-space: nowrap;
			font-weight: 400;
			font-size: 14px;
		}
		th.bg-color{
            background-color: rgba($theme-default,0.8);
			color: $white-color;
        }
		td.bg-color {
			background-color: rgba($theme-default,0.8);
			color: $white-color;
		}
		tfoot {
			td {
				background: 0 0;
				white-space: nowrap;
				text-align: right;
				padding: 8px 15px;
				font-size: 15px;
			}
		}
	}
	footer {
		width: 100%;
		text-align: center;
		color: $font-light;		
        p{
            margin: 0;
            margin-block-start: 15px;
        }
	}
}
@media print {
    .hidden-print {
        display: none;
    }
    .invoice {
        font-size: 11px !important;
        overflow: hidden !important;
        footer {
            position: absolute;
            bottom: 10px;
            page-break-after: always;
        }
        >div {
            &:last-child {
                page-break-before: always;
            }
        }
    }
    
}

/*authentication*/
.codex-login{
    display:flex;
    align-items:center;
    justify-content: center;
    height:100vh;     
    h3{
        margin-block-end: 5px;
        text-transform: capitalize;
    }     
    h6{
        margin-block-end:25px;
    }       
    .auth-logo{
        margin-block-end:10px;
        img{
            height:50px;
        }
    }
    .group-form{
        width:100%;   
        .f-pwd{
            float: right;
        }
        .auth-with{
            color:$font-light;
            font-size:14px;
            margin-block-end:10px;
            text-transform: capitalize;
        }
        .input-group-text{
            background-color: rgba($theme-default,1);
            i{
                color:$white-color;
            }
        }
    }   
    .btn-white{
        color:var(--theme-default) !important;
        padding:7px 40px;
        font-weight: 500;       
    }
    form {
        background-color: $white-color;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 25px;
        height: 100%;       
    }    
    .codex-authbox {
        background-color: $white-color;
        border-radius: 10px;
        box-shadow: 0 14px 28px rgba($black-color,0.25) , rgba($black-color,0.22);
        position: relative;
        overflow: hidden;
        width: 700px;
        max-width: 100%;
        min-height: 545px;
        .cdx-login{
            transition: transform 0.6s ease-in-out;
        }       
        .cdx-pwd{
            transition: transform 0.6s ease-in-out;
        }
        &.forgot-form-show{
            .cdx-login{
                -webkit-transform: translateY(100%);
                transform: translateY(-100%);                
                transition: transform 0.6s ease-in-out;
            }        
            .cdx-pwd{
                -webkit-transform: translateY(100%);
                transform: translateY(-100%);
                transition: transform 0.6s ease-in-out;
            }    
        }
    }    
}
.codex-authmain{
    display: flex;
    align-items: center;
    height: 100vh;
    text-transform: capitalize;   
    .codex-authbox{
        min-width:480px;
        width:480px;
        margin: auto;
        background-color:$white-color;
        padding: 25px;
        border-radius:5px; 
        border-bottom: 5px solid var(--theme-default);       
        .form-label{
            text-transform: capitalize;
        }     
        .auth-logo{
            margin-block-end: 10px;
            img{
                width: auto;
                height: 40px;
            }
            .dark-logo{
                display:none;
            }
        }
        h3{          
           margin-block-end: 5px;
        }
        h6{ 
            color: $font-light;
        }
        .auth-with{
            color: $font-light;
            position: relative;
            text-align: center;
            margin: 0 auto; 
            width: fit-content;
            font-size:14px;    
            margin-block-end:15px;                  
        }
        .auth-remember{
            .f-pwd{
                font-weight: 500;
                float: right;
            }
        }
        .auth-icon{
            margin-block-end:15px;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba($theme-default,0.08);
            margin-inline-start: auto;
            margin-inline-end: auto;
           i{
               font-size:50px;
               color: var(--theme-default);
           } 
        }
        .cdxsocial-link{
            justify-content: center;
        }
        .cdxsocial-link{
            li{
                a{
                    i{
                        color: $white-color;
                    }
                }
            }
        }
        &.auth-emailverify{           
            h5{
                font-size:16px;
            }
            .auth-pin{
                display:flex;
                .form-control{
                    &:nth-child(n+2){
                        margin-inline-start:10px;
                    }
                }    
            }
        }
    }    
}
.authentication-wrap{
    background-color: rgba($theme-default,0.02);
}

/*error*/
.codex-errorwrapp{
    text-align: center; 
    height: 100vh; 
    margin: auto; 
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center; 
    h1{
      font-size:250px;
      font-weight:900;
      color: var(--theme-default);   
    }
    h2{
      font-weight: 600;   
    } 
    p{
      margin-block-start: 20px;
      font-size: 22px;
      span{
        display: block;
      }
    }
    .btn{
        margin-block-start: 40px;
        font-weight:600;
        i{
          margin-right:5px;
        }
    }
  }
  .cdx-error{
    background-color: $skyblue;
    overflow: hidden;
    height: 100vh;
    position: relative;
    z-index: 1;
    .animatlist{
      li{
        position: absolute;
        z-index: -1;
        &:first-child{
          left:0%;
          bottom: 0;
          animation: cloudmove2 25s linear infinite ;
        }
        &:nth-child(2){
         left: 20%; 
         bottom: 0;
         animation: cloudmove2 30s linear infinite ;
        }
        &:nth-child(3){
          right: 20%;
          bottom: 0; 
          animation: cloudmove2 25s linear infinite ;
        }
        &:nth-child(4){
          right: 0%;
          bottom: 0; 
          animation: cloudmove2 30s linear infinite ;
        }     
        &:nth-child(5),&:nth-child(6),&:nth-child(7),&:nth-child(8),&:nth-child(9){
          width: auto;
          height: 88px;
          img{
            width: 100%;
            height: 100%;
          }
        }
        &:nth-child(5){
          top: 15%;
          left: 5%;    
          animation: cloudmove 20s linear infinite alternate-reverse;   
        }
        &:nth-child(6){
          top: 75%;
          left: 20%;
          animation: cloudmove 25s linear infinite alternate-reverse;
        }
        &:nth-child(7){
          top: 5%;
          left: 40%;
          animation: cloudmove 20s linear infinite alternate-reverse;
        }          
        &:nth-child(8){
          top: 15%;
          right: 15%;
          animation: cloudmove 25s linear infinite alternate-reverse;
        }
        &:nth-child(9){
          top: 80%;
          right: 20%;
          animation: cloudmove 20s linear infinite alternate-reverse;
        }
      }    
    }
  }
  @keyframes cloudmove {
    0% {   
      transform: translateX(0px);
    }
    100% { 
      transform: translateX(-300px) ; 
    } 
  
  }
  @keyframes cloudmove2 {
    0% {   
      transform: translateY(0px);
    }
    100% { 
      transform: translateY(-100vh) ; 
    } 
  }
  @keyframes breadcrumbmove {
    0% {   
      transform: translateY(0px);
    }
    100% { 
      transform: translateY(-300px) ; 
    } 
  }

  /*cominig soon*/
  .codex-comingsoon{   
    background-color: rgba($theme-default,0.04);
    position: relative;
    z-index: 1;    
    .comingsoon-contain{
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content:center;  
        text-align: center;
        .logo-wrap{
            margin-bottom: 20px;
            img{
                width: 270px;
                height: auto;
            }
        }
        h1{
            font-size: calc(26px + (65 - 26) * ((100vw - 320px) / (1920 - 320)));           
            font-weight: 800;
            margin-block-end: 10px;
        }
        p{
            color: $font-light;
            font-size: calc(14px + (22 - 14) * ((100vw - 320px) / (1920 - 320)));           
            width: 80%;
            margin-inline-start: auto;
            margin-inline-end: auto;           
            font-weight: 500;
            margin-block-end: 35px;
            text-transform: capitalize;
        }
        .form-control{
            width:60%;
            margin-left: auto;
            margin-right: auto;
            padding:15px;
            &::placeholder{
                font-size:16px;
            }
        }
        .btn{
            margin-top:40px;
            padding:10px 25px;
            text-transform: uppercase;
        }
        .cdxsocial-link{
            justify-content: center;
            margin-top: 50px;
            li{
                a{
                    width: 42px;
                    height: 42px;
                    border-radius: 5px;
                   i{
                        font-size: 20px;
                    }
                }
            }
        }
    }
    .animat-list{
        li{
            position: absolute;
            bottom: 0;
            z-index: -1;
            &:first-child{
                left:5%;
                animation: cloudmove2 15s linear infinite ;
            }
            &:nth-child(2){
                left:15%;
                animation: cloudmove2 20s linear infinite ;
            }
            &:nth-child(3){
                left:22%;
                animation: cloudmove2 25s linear infinite ;
            }
            &:nth-child(4){
                right:5%;
                animation: cloudmove2 20s linear infinite ;
            }
            &:nth-child(5){
                right:15%;
                animation: cloudmove2 25s linear infinite ;
            }
            &:nth-child(6){
                right:22%;
                animation: cloudmove2 15s linear infinite ;
            }
        }
    }
}
/****************
 INNER PAGES END
*****************/