/************************
13 LANDING PAGES START
*************************/
.custom-container{
    max-width: 1680px;
    margin-inline-start: auto;
    margin-inline-end: auto;
}


.land-bg1{
    background-color: $white-color;
}

.landing-header{
    padding-block-start: 15px;
    padding-block-end: 15px;   
    width: 100%;
    transition: all 0.5s ease;   
    z-index:999;
    -webkit-transition: all 0.5s ease;
    -moz-transition: position 10s;
    -ms-transition: position 10s;
    -o-transition: position 10s;
    transition: all 0.5s ease;
    .heaer-main{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .cdxmenu-list{
        li{
            display: inline-block;
            text-transform: capitalize;
            a{
                font-size: 18px;
                font-weight: 600;
                color: $codex-font-color;
            }
            +li{
                margin-inline-start: 20px;
            }
        }
    }
    .header-left{
        display: flex;
        align-items: center;
        height:100%;
        .logo-grid{
            img{
                width: 135px;
                height: auto;
            }    
        }
        .codex-darklogo{
            display: none;           
        }
    }
    .menu-grid{
        display: flex;
        align-items: center;
    }
    .header-right{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 100%;
        .btn{
            text-transform: capitalize;
            
        }
        
    }
}
.sidebar-action{
    margin-inline-start:20px;
    display: none;
    i{
        font-size:24px;       
    }
}
.cdxland-title{   
    text-align: center;
    margin-block-end: 30px;
    text-transform: capitalize;    
    font-weight: 700;
    font-size: calc(18px + (32 - 18) * ((100vw - 320px) / (1920 - 320))) ;
    position: relative;
    width: fit-content;
    margin-inline-start: auto;
    margin-inline-end: auto;   
    padding-block-end:20px;   
    &::before{
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 5px;
        background-color: var(--theme-default);
        border-radius: 30px;
        margin: auto;
        transition: all 0.5s ease;
    }
    &:hover{
        &::before{
            width:45%;
        }
    }
    span{
        color: var(--theme-default);
    }
}
.cdxlan-home{    
    position: relative;
    z-index: 2;    
    height: calc(100vh - 64px);      
    &::before{
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($black-color,0.6);
        z-index: -1;
    }
    .mian-contain{
        text-align: center;
        text-transform: capitalize;
        color: $white-color;
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 64px); 
        width: 80%;
        margin-inline-start: auto;
        margin-inline-end: auto;       
        h1{
            font-size: calc(26px + (55 - 26) * ((100vw - 320px) / (1920 - 320)));
            font-weight: 700;
            margin-block-end: 15px;
        }
        p{
            margin-block-end: 40px;
            font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (1920 - 320)));
            font-weight: 500;          
            line-height: 1.8;  
        }
        .features-lsit{
            display: flex;
            align-items: center;
            width: fit-content;
            margin-inline-start: auto;
            margin-inline-end: auto;
            margin-block-end: 50px;
            li{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 58px;
                height: 58px;
                border-radius: 5px;
                background-color: $white-color;
                img{
                    width: 60%;
                    height: auto;
                }
                +li{
                    margin-inline-start: 15px;
                }
            }
        }
        .group-btn{
            .btn{
                padding: 10px 35px;
                font-size: 18px;
                font-weight: 500;
                +.btn{
                    margin-inline-start: 15px;
                }
            }
        }
    }       
}
.demo-grid{
    margin-block-end: -30px;
    justify-content: center;
    >div{
        margin-block-end: 30px;
    }    
}
.demo-wrrapper{
    border-radius: 5px;
    overflow: hidden;
    text-align: center;          
    .demoimg-wrap{
        border-radius: 5px;
        overflow: hidden;
        position: relative;       
        img{
            transition: all 0.5s ease;
            width:100%;
        }
        .demo-link{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;                            
            display: flex;
            justify-content: center;
            align-items: center;       
            background-color: rgba($black-color,0.4);
            opacity: 0;
            visibility: hidden;           
            transition: all 0.5s ease;
            text-transform: uppercase;
            span{
                color: var(--theme-default);
                background-color: $white-color;
                font-size: 16px;
                padding: 7px 12px;
                border-radius: 5px;
                font-weight: 600;
            }
        }
    }
    .demo-detail{
        h3{
            text-transform: capitalize;
            margin-block-start: 15px;           
            font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (1920 - 320)));
        }
    }
    &:hover{
        .demoimg-wrap{
            img{
                transform: scale(1.2);
            }
            .demo-link{
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

.lan-dashboard {
    .cdx-tab{
        width:fit-content;
        margin-inline-start:auto;
        margin-inline-end:auto;
        border-bottom: none;
        display: flex;
        align-items: center;
        margin-block-end:40px;
        li{
            a{
                text-transform: capitalize;
                background-color: $white-color;
                border: none;
                &.active{
                    background-color: var(--theme-default);
                }
            }
            &:nth-child(n+2){
                margin-inline-start: 20px;
            }
        }
    }
}


.lan-features{      
    .features-grid{               
        padding: 30px;
        border-radius: 5px;
        text-align: center;
        background-color:$white-color;
        .grid-icon{
            img{
                width: auto;
                height: 55px;
            }
        }
        h6{
            font-size: 18px;
            font-weight: 600;
            text-align: center;
            text-transform: capitalize;
            margin-block-start: 10px;           
        }
    }
}

.features-row{
    margin-block-end: -30px;
    justify-content: center;
    >div{
        margin-block-end: 30px;
    }
}

.cdx-app{      
    .slick-dots {
        bottom: -45px;
        li{                 
            width: 45px;
            height: 15px;   
            border-radius: 2px;
            overflow: hidden;
            border-top-right-radius: 15px;
            border-bottom-left-radius: 15px;
            &.slick-active{
                button{
                    opacity:1;  
                }             
            }
            button{
                width: 100%;
                height: 100%;
                background-color: var(--theme-default);       
                opacity: 0.2;
                content: '';
                transition: all 0.5s ease;
                &::before {
                    display: none;
                }
            }           
        }
    }
    .demo-wrrapper{
        background-color: transparent;
    }
}

.lan-support{
    text-align: center;    
    .codex-brand{
        margin-block-end:15px;
        img{
            width:200px;
            height:auto;
        }
    }
    h3{
        text-transform: capitalize;       
        font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (1920 - 320)));  
        font-weight:800;     
        -webkit-margin-after: 15px;
        margin-block-end: 15px;
    }        
    p{
        font-weight: 500;
        color: $font-light;
        font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));       
    }
    .codex-soclist{
        margin-block-end:30px;
        li{
            a{
                width: 40px;
                height: 40px;
                i{
                    font-size: 20px;
                }
            }
        }
    }
    .group-btn{
        .btn{
            text-transform:capitalize;           
        }
    }
    .rating-list{
        margin-top: 15px;
        li{
            color:$theme-warning;
            font-size: calc(25px + 20 * (100vw - 320px) / 1600);
            +li{
                margin-left: calc(5px + (10 - 5) * ((100vw - 320px) / (1920 - 320)));
            }
        }
    }
}
/********************
 LANDING PAGES END
********************/