// theme fonts
$theme-opensans: 'Open Sans', sans-serif;
$theme-awesome: 'FontAwesome';

// theme colors
$theme-default:#cf1432;
$theme-warning:#ffc107;
$theme-light:#f4f7fc;
$theme-dark:#333333;
$theme-border:#edecec;

// theme fonts colors
$black-color:#000000;
$black-color2:#282828;
$black-color3:#040404;
$white-color:#ffffff;
$font-light:#8392a5;
$darkgray:#ecedf2;
$skyblue:#cde6f6;
$codex-body-color:#f6f7f9;
$codex-font-color:#262626;

// social icon color
$fb-color:#385196;
$twt-color:#00a8ff;
$insta-color: #e2215d;
$whp-color:#4aec61;

:root{
    --theme-default:#cf1432;
}